<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="wcs-configuration" type="Wcs.Framework.Cfg.WcsConfigurationSectionHandler, Wcs.Framework"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="backup-hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="deviceTrackingData-hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="nhibernate-logger" value="Wcs.NhLoggerFactory, Wcs" />
    <add key="RouteTestShow" value="True"/>
  </appSettings>

  <wcs-configuration>
    <application>
      <startups xmlFile="系统配置/基本配置/startups.xml" />
    </application>
    <services>
      <wcf>
        <service type="CraneService.TwoForksCrane.TwoForksCraneService, CraneService" />
        <service type="CraneService.CraneService, CraneService" />
        <service type="Wcs.Services.Wcf.WarningReportService, WarningReportService" />
        <!--给wms的服务接口，应该在当前项目中实现-->
        <!--<service type="WcsServiceForWms.WcfWcsServiceForWms, Sample" />-->
      </wcf>
    </services>
    <dataReceives>
      <receiver name="输送线解码器" type="Wcs.DefaultImpls.Conveyor.ConveyorDataReceiverElement, Wcs.DefaultImpls">
        <senderEncoding xmlFile="系统配置/输送线/db1.xml" />
        <receiverEncoding xmlFile="系统配置/输送线/db2.xml" />
      </receiver>
      <receiver name="单货叉堆垛机解码器" type="Wcs.DefaultImpls.Crane.DefaultCraneDataReceiverElement, Wcs.DefaultImpls" />
      <receiver name="双货叉堆垛机解码器" type="Wcs.DefaultImpls.TwoForksCrane.DefaultTwoForksCraneDataReceiverElement, Wcs.DefaultImpls" />
      <receiver name="调度子系统单货位小车解码器" type="Wcs.DefaultImpls.SubSystem.DefaultSubSystemDataReceiverElement, Wcs.DefaultImpls">
        <telex type="Wcs.DefaultImpls.SubSystem.AddTaskCommandReplyTelexTransferObject, Wcs.DefaultImpls" />
        <telex type="Wcs.DefaultImpls.SubSystem.CancelTaskCommandReplyTelexTransferObject, Wcs.DefaultImpls" />
        <telex type="Wcs.DefaultImpls.SubSystem.TaskStatusReplyTelexTransferObject, Wcs.DefaultImpls" />
        <telex type="Wcs.DefaultImpls.SubSystem.SinglePlatformRailGuidedVehicle.StateTelexTransferObject, Wcs.DefaultImpls" />
      </receiver>
      <receiver name="调度子系统双货位小车解码器" type="Wcs.DefaultImpls.SubSystem.DefaultSubSystemDataReceiverElement, Wcs.DefaultImpls">
        <telex type="Wcs.DefaultImpls.SubSystem.AddTaskCommandReplyTelexTransferObject, Wcs.DefaultImpls" />
        <telex type="Wcs.DefaultImpls.SubSystem.CancelTaskCommandReplyTelexTransferObject, Wcs.DefaultImpls" />
        <telex type="Wcs.DefaultImpls.SubSystem.TaskStatusReplyTelexTransferObject, Wcs.DefaultImpls" />
        <telex type="Wcs.DefaultImpls.SubSystem.TwoPlatformRailGuidedVehicle.StateTelexTransferObject, Wcs.DefaultImpls" />
      </receiver>
    </dataReceives>
    <devices>

     <conveyors type="Wcs.DefaultImpls.Conveyor.ConveyorCollection, Wcs.DefaultImpls">
        <conveyor name="输送线1" no="1" ip="127.0.0.1" port="2000"  dataReceiver="输送线解码器" receiveTimeout="1000" allowConcurrency="true" />
      </conveyors>
    
     <cranes type="Wcs.DefaultImpls.Crane.CraneCollection, Wcs.DefaultImpls" alarms="系统配置/堆垛机/alarms.xml">
        <crane name="C001" no="1" ip="127.0.0.1" port="4000" laneway="1号巷道" dataReceiver="单货叉堆垛机解码器" conveyor="输送线">
          <equipmentActionScheduler type="Wcs.DefaultImpls.Crane.DefaultCraneEquipmentActionScheduler, Wcs.DefaultImpls">
            <filter type="Wcs.DefaultImpls.Crane.CraneUnloadEquipmentActionSchedulerFilter, Wcs.DefaultImpls" />
          </equipmentActionScheduler>
        </crane>
      </cranes>
    </devices>
    <locations>
      <输送线1 type="Wcs.DefaultImpls.Conveyor.ConveyorLocationCollection, Wcs.DefaultImpls" device="输送线1" xmlFile="系统配置/输送线/输送线位置.xml" />
      <c001 xmlFile="系统配置/堆垛机/C001.xml" type="Wcs.DefaultImpls.Crane.RackLocationCollection, Wcs.DefaultImpls"/>
    </locations>
 
    <routes xmlFile="系统配置/基本配置/routes.xml" />
    <settings xmlFile="系统配置/基本配置/settings.xml" />
    <taskEventHandlers xmlFile="系统配置/基本配置/taskEventHandlers.xml" />
    <deviceWarningEventHandlers>
      <handler type="Wcs.Framework.DefaultDeviceWarningEventHandler, Wcs.Framework" />
    </deviceWarningEventHandlers>
    <equipmentFailureEventHandlers>
      <onAdded>
        <!--<handler type="Lutai.EquipmentFailureAddedEventHandler, Lutai" />-->
      </onAdded>
      <onRemoved>
        <!--<handler type="Lutai.EquipmentFailureRemovedEventHandler, Lutai" />-->
      </onRemoved>
    </equipmentFailureEventHandlers>
  </wcs-configuration>

  <hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >

    <session-factory name="wcs">
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Data Source=.;Initial Catalog=wcs_test;User Id=sa;Password=gen@song123;</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="adonet.batch_size">50</property>
      <property name="query.substitutions">true 1, false 0</property>
      <property name="prepare_sql">false</property>
      <property name="show_sql">false</property>

      <!--
      如果需要开启NHibernate的缓存功能，取消下面的注释行，并安装 SysCache2 3.2.0.4000，具体方法如下：
      打开程序包管理器控制台，输入 install-package NHibernate.Caches.SysCache2 -version 3.2.0.4000
      回车后安装即可
      -->
      
      <!--
      <property name="cache.use_second_level_cache">true</property>
      <property name="cache.use_query_cache">true</property>
      <property name="cache.provider_class">NHibernate.Caches.SysCache2.SysCacheProvider, NHibernate.Caches.SysCache2</property>
      -->

      <mapping assembly="Wcs" />
      <mapping assembly="Wcs.Framework" />
      <mapping assembly="Wcs.DefaultImpls" />

      <!--如果当前项目包含 nhibernate 的映射文件，应将当前项目的程序集名加到此处-->
      <!--<mapping assembly="sample" />-->
    </session-factory>
  </hibernate-configuration>

  <backup-hibernate-configuration>
    <session-factory name="wcs" xmlns="urn:nhibernate-configuration-2.2" >
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Data Source=.;Initial Catalog=wcs_test_bak;User Id=sa;Password=gen@song123;</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="adonet.batch_size">50</property>
      <property name="query.substitutions">true 1, false 0</property>
      <property name="prepare_sql">true</property>
      <property name="show_sql">false</property>
      <mapping assembly="Wcs" />
      <mapping assembly="Wcs.Framework" />
      <mapping assembly="Wcs.DefaultImpls" />
      
      <!--如果当前项目包含 nhibernate 的映射文件，应将当前项目的程序集名加到此处-->
      <!--<mapping assembly="sample" />-->
    </session-factory>
  </backup-hibernate-configuration>

  <deviceTrackingData-hibernate-configuration>
    <session-factory name="wcs" xmlns="urn:nhibernate-configuration-2.2">
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <!--默认使用 Wcs 数据直接存储，但在正试部署后应该使用单独的数据库存储-->
      <property name="connection.connection_string">Data Source=.;Initial Catalog=Wcs;User Id=sa;Password=gen@song123;</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="adonet.batch_size">50</property>
      <property name="query.substitutions">true 1, false 0</property>
      <property name="prepare_sql">true</property>
      <property name="show_sql">false</property>
      <mapping assembly="Wcs" />
      <mapping assembly="Wcs.Framework" />
      <mapping assembly="Wcs.DefaultImpls" />

      <!--如果当前项目包含 nhibernate 的映射文件，应将当前项目的程序集名加到此处-->
      <!--<mapping assembly="sample" />-->
    </session-factory>
  </deviceTrackingData-hibernate-configuration>
  
  <nlog throwExceptions="false">
    <targets async="true">
      <target name="database" type="Database" connectionString="Data Source=.;Initial Catalog=wcs_logs;User Id=sa;Password=gen@song123;Enlist=False"
                commandText="INSERT INTO [dbo].[Logs] ([LongDate],[Level],[ThreadId] ,[Logger],[Message],[Exception],[Sender],[MachineName],[ProcessName],[UserName],[EquipmentTaskId],[TaskCode])
              VALUES 
              (@LongDate ,@Level ,@ThreadId ,@Logger ,@Message ,@Exception,@Sender,@MachineName, @ProcessName,@UserName,@EquipmentTaskId,@TaskCode)">
        <parameter name="@LongDate" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@MachineName" layout="${machineName}" />
        <parameter name="@ProcessName" layout="${processname}" />
        <parameter name="@ProcessId" layout="${processid}" />
        <parameter name="@ThreadId" layout="${threadid}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@Exception" layout="${exception:format=tostring}" />
        <parameter name="@Sender" layout="${event-context:sender}" />
        <parameter name="@UserName" layout="${event-context:userName}" />
        <parameter name="@EquipmentTaskId" layout="${event-context:equipmentTaskId}" />
        <parameter name="@TaskCode" layout="${event-context:taskCode}" />
      </target>
    </targets>
    <rules>

      <!--如果需要输出NHibernate的SQL或其它日志，请修改下面两个logger 的minLevel（Off表示关闭日志输出功能）-->
      <logger name="NHibernate.SQL" writeTo="database" final="true" minlevel="Off" />
      <logger name="NHibernate*" writeTo="database" final="true" minlevel="Off" />
      
      <logger name="*" minlevel="Trace" writeTo="database" />

    </rules>
  </nlog>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="655350000" maxReceivedMessageSize="655350000" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IWcfWmsServiceForWcs">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IWcfWcsServiceForWms" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="true"
          transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="WcsServiceBehavior" name="CraneService.TwoForksCrane.TwoForksCraneService">
        <endpoint address="" binding="basicHttpBinding" contract="CraneService.TwoForksCrane.ITwoForksCraneService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9991/TwoForksCraneService" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="WcsServiceBehavior" name="CraneService.CraneService">
        <endpoint address="" binding="basicHttpBinding" contract="CraneService.ICraneService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9991/CraneService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WcsServiceBehavior" name="WcsServiceForWms.WcfWcsServiceForWms">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfWcsServiceForWms"
          contract="WcsServiceForWms.IWcfWcsServiceForWms" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9998/WcfWcsServiceForWms" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WcsServiceBehavior" name="Wcs.Services.Wcf.WarningReportService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcs.Services.Wcf.IWarningReportService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9991/WarningReportService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost:890/WcfWmsServiceForWcs.svc"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfWmsServiceForWcs"
          contract="WmsService.IWcfWmsServiceForWcs" name="NetTcpBinding_IWcfWmsServiceForWcs" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcsServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata httpGetEnabled="False" />
          <dataContractSerializer maxItemsInObjectGraph="65536000" />
          <appErrorToMessage />
        </behavior>

        <behavior name="WcsServiceForClientBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="callWmsServiceContextPropagation">
          <callbackDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <!--服务端错误回传，必须安装 Plugins.ServiceHosting 插件-->
        <add name="appErrorToMessage" type="Wcs.App.Plugins.WcfServiceOperationBehavior, Plugins.ServiceHosting" />
      </behaviorExtensions>
    </extensions>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true" faultExceptionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

  <!--
  如果报DLL版本不对，可以使用下面的方法解决
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  -->
</configuration>