<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="wcs-configuration-extend" type="Wcs.FrameworkExtend.Cfg.WcsConfigurationSectionHandler, Wcs.FrameworkExtend" />
	</configSections>
	<wcs-configuration-extend>
		<!--预任务下发过滤器-->
		<PreTaskSchedulerFilter>
			<!--程序需要继承下面的抽象类-->
			<!--<handler type="Wcs.Framework.PreTaskSchedulerFilter, Wcs.Framework" />-->
		</PreTaskSchedulerFilter>
	</wcs-configuration-extend>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>